<div class="key_input_container">
    <h3 class="auth__title">Api key authorization</h3>
    <div class="auth__description">{{{sanitize description}}}</div>
    <div>
        <div class="key_auth__field">
            <span class="key_auth__label">name:</span>
            <span class="key_auth__value">{{{escape name}}}</span>
        </div>
        <div class="key_auth__field">
            <span class="key_auth__label">in:</span>
            <span class="key_auth__value">{{{escape in}}}</span>
        </div>
        <div class="key_auth__field">
            <span class="key_auth__label">value:</span> {{#if isLogout}}
            <span class="key_auth__value">{{{sanitize value}}}</span> {{else}}
            <input class="auth_input input_apiKey_entry" name="apiKey" type="text" /> {{/if}}
        </div>
    </div>
</div>
